<div class=""style="height: 150px; width: 100vw; background-color: grey;">
  <div class="container text-center pt-5">
    <div>
      <p>All content remains copyright of ChezToi Gourmet unless stated otherwise, we'd kindly ask that you don't reproduce it in any form without our permission.</p>
    </div>
    <div style="font-size: 35px;">
      <%= link_to  "https://www.instagram.com/chez_toi_gourmet/", class:"link-to" do %>
        <i class="fa-brands fa-instagram"></i>
      <% end %>
      <%= link_to  "https://www.instagram.com/chez_toi_gourmet/", class:"link-to" do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
      <%= link_to  "https://www.facebook.com/search/top?q=chez%20toi%20-%20gourmet%20at%20yours", class:"link-to" do %>
        <i class="fa-brands fa-square-facebook"></i>
      <% end %>
    </div>
  </div>
</div>
