<%# Navbar %>
<div class="d-flex justify-content-between my_navbar">
  <div style="height: 50px; width: 50px;">
    <%= image_tag "logo.png", class: "logo" %>
  </div>
  <div>
    <h1>Menu</h1>
  </div>
</div>
